.chat {
  margin-bottom: 16px;
  display: flex;
}
.chat > .chat__body {
  max-width: 29vw;
}
.chat > .chat__body > .chat__user {
  color: #4c4c4c;
  margin-bottom: 4px;
}
.chat > .chat__body .chat__content--white {
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
}
.chat > .chat__body .chat__content--white::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
}
.chat > .chat__body .chat__content--green {
  background-color: #dcf8c6;
  border-radius: 10px 0px 10px 10px;
}
.chat > .chat__body .chat__content--green::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid #dcf8c6;
  border-bottom: 10px solid transparent;
}

.chat > .chat__body > .chat__content {
  padding: 8px 12px;
  /* display: flex;
  align-items: flex-start; */
  position: relative;
}

.chat > .chat__body > .chat__content > dt {
  font-size: 12px;
  margin-bottom: -8px;
  padding: 5px 0px 0px 5px;
  text-align: right;
  color: #4c4c4c;
}
